
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
            min-width: 1200px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 127px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1516472171614-2 {
            width: 722px;
            min-height: 98px;
            top: 13px;
            left: 271px;
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            left: 0px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 600px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1516472652396-6 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 100px;
            top: 101px;
            left: 434px;
        }
        
        .silex-id-1516473055525-7 {
            width: 256px;
            min-height: 192px;
            top: 2px;
            left: 2px;
        }
        
        .silex-id-1516473062863-8 {
            width: 256px;
            min-height: 192px;
            top: 3px;
            left: 258px;
        }
        
        .silex-id-1516473084929-10 {
            width: 256px;
            min-height: 192px;
            top: 1px;
            left: 942px;
        }
        
        .silex-id-1516473077576-9 {
            width: 256px;
            min-height: 192px;
            top: 3px;
            left: 684px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
    